.ellipses-container-right {
    position: absolute;
    top: 0;  /* Помещаем контейнер в верхнюю часть экрана */
    right: 0; /* Помещаем контейнер в правую часть экрана */
    pointer-events: none; /* Чтобы эллипсы не мешали взаимодействию с другими элементами */
    overflow: visible; /* Если эллипсы выходят за пределы, они будут видны */
    pointer-events: none;
}

.ellipse {
    position: absolute;
    border-radius: 50%; /* Делаем элементы круглыми или эллипсами */
    background-color: transparent; /* Прозрачный фон */
    border: 3px solid #FDB941; /* Желтая обводка */
}

/* Первый (самый маленький) эллипс */
.right-ellipse-1 {
    width: 385px;
    height: 393px;
    top: -154px;  /* Этим сдвигаем первый эллипс вверх */
    right: -20px; /* Этим сдвигаем первый эллипс вправо */
    transform: rotate(34.87deg); /* Вращаем эллипс */
}

/* Второй эллипс (больше первого) */
.right-ellipse-2 {
    width: 574px;
    height: 585px;
    top: -214px;  /* Сдвигаем второй эллипс относительно первого */
    right: -80px; /* Сдвигаем второй эллипс вправо относительно первого */
    transform: rotate(34.87deg); /* Вращаем эллипс */
}

/* Третий эллипс (самый большой) */
.right-ellipse-3 {
    width: 759px;
    height: 774px;
    top: -274px;  /* Сдвигаем третий эллипс относительно второго */
    right: -140px; /* Сдвигаем третий эллипс вправо относительно второго */
    transform: rotate(34.87deg); /* Вращаем эллипс */
}
