@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Чтобы занять всю высоту экрана */
    margin: 0;
    height: 100vh;
    overflow: hidden;
  
}



.register-button {
  position: fixed; /* Закрепляет кнопку в правом верхнем углу */
  top: 40px;
  right: 24px;
  width: 251px;
  height: 62px;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 16px 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  color: #8529CE;
  background-color: white;
  cursor: pointer;
  text-align: center;
}

.register-button:hover {
  background-color: #f0f0f0;
}


.frame-121 {
  position: relative;
  flex-direction: column;
    width: 491px; /* Фиксированная ширина */
    height: 455px; /* Адаптивная высота */
    gap: 24px; /* Задаем промежуток между элементами внутри фрейма */
    z-index: 0
}
.frame-120 {
    width: 497px;
    height: 366px;
    gap: 60px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
}
.login-title{
    width: 97px;
    height: 44px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43.88px;
    text-align:justify;
    color: #8529CE;

}
.frame-119{
    width: 497px;
    height: 262px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.login-input{
  width: 497px;
  height: 76px;
  border-radius: 15px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 29.26px;
  color: rgba(0, 0, 0, 0.5);
  text-align: justify;
  background-color: rgba(151, 103, 198, 0.2); 
  border: none;
  z-index: 0;
}
.login-button {
  width: 497px;
  height: 62px;
  border-radius: 15px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  gap: 10px;
  background-color: #8529CE; /* Фиолетовый фон */
  color: #FFFFFF; /* Белый цвет текста */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
  border: none;
}
.forgot{
  margin-top: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: 0%;
  text-align: justify;
  color: black;
  width: 402px;
  height: 29px;
  gap: 24px;
  position: relative;
  top: 24px; /* Спускает элемент на 24px вниз */

}
.forgot .login-forgot a {
  color: #8529CE; /* Фиолетовый цвет для ссылки */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: 0%;
  text-align: justify;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness:auto ;
}

.frame-119 {
  position: relative;
  flex-direction: column;
    width: 497px; /* Фиксированная ширина */
    height: 466px; /* Адаптивная высота */
    gap: 24px; /* Задаем промежуток между элементами внутри фрейма */
    display: flex; 
    flex-direction: column;.
}
.reg-title{
  width: 97px;
  height: 44px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43.88px;
  text-align:justify;
  color: #8529CE;

}